<h1>Editing Book</h1>
<%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title %>
  <label for="book_body">Body</label>
  <%= f.text_area :body %>
  
  <div class="actions">
      <%= f.submit 'Update Book' %>
  </div>
  
  <a class="Show">
      <%= link_to "Show", book_path(@book) %>
  </a>
  
  <a class="back">
      <%= link_to "Back", books_path(@book) %>
  </a>
<% end %>